{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <h1>Filmographie</h1>

<div class="container-fluid">

  <div class="row">
  {% for movie in movies %}
    {{ include('partials/card.movie.html.twig') }}
     {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
    
  </div>
</div>

    <div class="row navigation ">

        <div class="mx-auto">{{ knp_pagination_render(movies) }}</div>

    </div>
    <a href="{{ path('movie_new') }}">Create new</a>
{% endblock %}
