@import "~bootstrap/scss/bootstrap";
@import '~material-design-icons/iconfont/material-icons.css';
body {
    background-color: lightgray;
}
.material-icons.js-movie-fav {
    font-size: 35px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.material-icons.js-movie-fav.favourite {
    color: #E62600;
}

.navigation {
    margin-top: 10px;
}

.card {
    margin-bottom: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F2F2F2;
}

a.nav-link{
    color: #F2F2F2;
}

.page-item.active .page-link {
    background-color: #23272b;;
}

.pagination * {
    color: #23272b;
}